.navbar {
    position: absolute;
    width: auto;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #E42256;
}

.nav_item {
    position: absolute;
    width: 106px;
    height: 41px;
    left: 497px;
    top: 22px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */


    color: #FFB8B8;
}
